# ========================
# 1. BAGIAN GOLANG (BACKEND)
# ========================
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib


*.test


*.out
coverage.*
*.coverprofile
profile.cov

go.work
go.work.sum

.air.toml
tmp/

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
frontend/venv/


*.manifest
*.spec
build/
dist/


.env
.env.local


.DS_Store
Thumbs.db


*.log


.idea/
.vscode/